body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;  

  background-image: url('/img/background.png');
  background-position: center right;
}

.container {
  padding: 0;
}

@media (min-width: 768px){
  .navbar-nav {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .pull-left.navbar-toggle {
    margin-left: 15px;
  }
}